body{
    font-family: 'nunito';
    color: #333;
    background-image: linear-gradient(50deg, rgba(236, 193, 165, 0.67),  rgba(174, 174, 175, 0.67));
}


main{
   flex-direction: column;
    height: 100vh;
    flex: 1 1 100%;
}


footer{
    bottom: 0;
    flex: 0;
}